@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url("https://use.typekit.net/epd2lqq.css");

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fdf3e3;
}

.navbar {
  border-bottom: 25px solid #be1e2d;
  background-color: #fdf3e3;
}

.navbar .btn {
  font-family: "gastromond", sans-serif;
  letter-spacing: 1.5px;
  color: #be1e2d;
  border: 2.5px solid #be1e2d; 
  background-color: transparent;
  border-radius: 15px;
  padding: 3px 20px;  
  font-size: 20px; 
}

.navbar .btn:hover {
  background-color: #be1e2d;
  color: #fdf3e3;
}
